h1 {
    color: navy;
    margin-left: 20px;
    text-align: center;
    font-size: 60px;
    font-family: Comic Sans MS;
    color: black;
}

html {
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("./Images/red.jpg");
    background-blend-mode: saturation;
}

.center {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    /*align-items: stretch;*/
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.inputSearch {
    height: 40px;
    font-family: "Comic Sans MS";
    border-radius: 10px;
}

.btn {
    position: page;
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    /*border: None;*/
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    font-family: Comic Sans MS;
}

.btn:hover {
    background-color: black;
    color: white;
}

.homeBtn {
    position: page;
    background-color: #f1f1f1;
    color: black;
    font-size: 10px;
    padding: 10px 20px;
    /*border: None;*/
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    font-family: Comic Sans MS;
}

.homeBtn:hover {
    background-color: black;
    color: white;
}

.resultBtn {
    background-color: lightgray;
    color: black;
    font-size: 10px;
    padding: 10px 20px;
    /*border: None;*/
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    font-family: Comic Sans MS;
}

.resultBtn:hover {
    background-color: steelblue;
    color: white;
}
